/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


/*body {
  background: url(asteroid.png);
  background-size: cover;
  background-repeat: no-repeat;
}*/

h1 {
  margin-top: 10px;
}
h3 {
  margin: 10px;
}

.board {
  position: relative;
  box-shadow: 0px 0px 10px #aaa;
  width: 700px;
  background: white;
  padding: 40px;
  margin: 40px auto;
  background-color: #eee;
}

.board-header {
  float: left;
}

svg {
  background-color: #fff;
}

.scores {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ccc;
  float: right;
  text-align: right;
  line-height: 20px;
}

circle.area {
  fill: #fff;
}
